{% extends "base.html" %} {% block content %}
<a href="{% url 'exercise:create_exercise' %}" class="btn btn-info text-white"
  >Create New Exercise</a
>
<div class="container mt-4">
  {% for exercise in exercises %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ exercise.name }}</h5>
      <span class="card-text px-1">Sets: {{ exercise.sets }}</span>
      <span class="card-text px-1"
        >Repetitions: {{ exercise.repetitions }}</span
      >
      <span class="card-text px-1">Weight: {{ exercise.weight }}</span>
      <span class="card-text px-1"
        >Incremental Weight: {{ exercise.incremental_weight }}</span
      >
      <a
        href="{% url 'exercise:update_exercise' exercise.id %}"
        class="btn btn-success"
        >Edit</a
      >
      <a
        href="{% url 'exercise:delete_exercise' exercise.id %}"
        class="btn btn-danger"
        >Delete</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} delete_exercise
