{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Excercise</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="d-flex justify-content-center">
        <div class="p-4 border rounded-3 bg-light" style="max-width: 300px">
          <h2 class="text-center">Create Excercise</h2>

          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block mt-3">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
